# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.terraform/providers/registry.terraform.io/hashicorp/aws/4.0.0/
.terraform/providers/registry.terraform.io/hashicorp/aws/